.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  display: block;
  margin-bottom: 30px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  margin-bottom: 20px;
  border: 2px solid white;
  padding: 10px;
}

.btn-reset {
  display: inline-block;
  margin: 0;
  border: 2px solid transparent;
  padding: 10px 20px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: hsl(0, 0%, 50%);
  transition: all 0.1s ease;
}

.btn:hover {
  background-color: hsl(0, 0%, 70%);
}

.btn:active {
  background-color: hsl(0, 0%, 50%);
}


